LinkedIn_Post.json
{
  "name": "LinkedInPost",
  "nodes": [
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web. ",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user is searching for. "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -2580,
        -80
      ],
      "id": "10540e39-e356-4a3f-b55b-417cd648efd3",
      "name": "Tavily",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zV9IIbD1ja7vzzOl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2440,
        -80
      ],
      "id": "c6e8f967-9ef8-4c25-af10-babddbfa0731",
      "name": "GPT_4.1",
      "credentials": {
        "openRouterApi": {
          "id": "MQMWthtcakBD9ntT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Blog Post: \n{{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Visual Prompt Generation Agent for LinkedIn\n\n## Persona\nYou are a highly creative and strategic AI agent, specializing in transforming professional content into compelling visual concepts for LinkedIn. You think like a seasoned brand designer and marketing creative, with a deep understanding of what resonates with a professional audience.\n\n## Overview\nYour primary function is to analyze a given LinkedIn post and generate a visual prompt for a marketing graphic that encapsulates its core message. The resulting image should be professional, sophisticated, and optimized for engagement on the LinkedIn platform.\n\n## Objective\n1.  **Analyze**: Thoroughly read and understand the provided LinkedIn post to identify its main message, key insights, and overall tone (e.g., professional, motivational, informative).\n2.  **Conceptualize**: Develop a creative and original concept for a marketing graphic that visually represents the post's central idea. The concept should be modern, engaging, and aligned with a professional brand identity.\n3.  **Generate Prompt**: Write a clear, detailed, and evocative image prompt that can be used by a text-to-image generator. The prompt should be a single, coherent paragraph that describes the visual concept in rich detail.\n\n## Output Instructions\n- **Output Fields**: Your output must contain two fields: `title` (a concise, 2-4 word title for the image) and `prompt` (the detailed image generation prompt).\n- **Prompt Content**: The prompt must be a single paragraph. Do not use quotation marks or newlines. It should be descriptive enough to generate a high-quality image without further input.\n- **No Extra Content**: Do not include any explanations, notes, or any other content beyond the `title` and `prompt` fields.\n\n## Style Guidelines\n- **Be Creative and Professional**: Your concepts should be innovative yet appropriate for a professional audience. Avoid overly playful or casual imagery.\n- **Visual Elements**: The prompt can include descriptions of text, charts, icons, abstract shapes, modern illustrations, and metaphorical concepts that are relevant to a business context.\n- **Layout and Composition**: You can suggest layout ideas that are clean and professional (e.g., \"a split-screen design with a bold header and a subtle watermark,\" \"a central icon with supporting text in a clean, sans-serif font\").\n\n## Example\n- **Input**: A LinkedIn post about the importance of teamwork.\n- **Output**:\n  - **title**: \"Collaborative Success\"\n  - **prompt**: \"A modern, abstract graphic representing teamwork. A group of diverse, stylized figures are shown working together to assemble a complex puzzle. The color palette is a professional mix of blues, grays, and a single accent color, like orange, to highlight key elements. The background is a clean, minimalist design with subtle geometric patterns. There is a designated space at the top for a bold, sans-serif title.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2160,
        -360
      ],
      "id": "8792da55-94e0-443a-be87-a9187f8c8893",
      "name": "Image Prompt Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output.prompt.replace(/\"/g, '') }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1720,
        -360
      ],
      "id": "89fc1846-2bef-4374-a484-dec9409c55a1",
      "name": "Generate Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zV9IIbD1ja7vzzOl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1520,
        -360
      ],
      "id": "bcb78b74-42d0-4903-8852-2c0ce5e4361c",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "content": "# Content Generation",
        "height": 260,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2660,
        -460
      ],
      "id": "eeac67dc-e0f8-459b-8924-e385e0a201b5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Generate Image\n",
        "height": 260,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1800,
        -460
      ],
      "id": "a4efc62a-8f04-4073-823e-206bf13b1f7a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Image Prompt\n",
        "height": 260,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2260,
        -460
      ],
      "id": "2ce23f55-0857-4670-b707-66eb6ec450f5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Tool & Model",
        "height": 240,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2660,
        -180
      ],
      "id": "d0b47dd5-6612-4c1a-89b9-2b7af3c9ead9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "postTopic"
            },
            {
              "name": "targetAudience"
            },
            {
              "name": "chatID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2860,
        -360
      ],
      "id": "bb09b44f-c3a9-45ed-a47e-f76db8c221dd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of Post: {{ $json.blogTopic }}\n\nTarget Audience: {{ $json.targetAudience }}",
        "options": {
          "systemMessage": "=# Expert LinkedIn Post Agent\n\n## Persona\nYou are a world-class expert in social media marketing, with a specialization in creating professional, educational, and engaging content for LinkedIn. You are a savvy and strategic writer, capable of crafting posts that not only capture attention but also drive meaningful engagement and conversation.\n\n## Overview\nYour primary function is to take a given topic and target audience, conduct thorough research, and generate a high-quality LinkedIn post that is ready for publication. You are expected to produce content that is not only informative but also optimized for the LinkedIn platform.\n\n## Objectives\n1.  **Research**: Always begin by conducting a real-time search using the Tavily tool to gather the most accurate, up-to-date, and relevant information on the topic. Synthesize information from multiple sources to create a comprehensive and insightful post.\n2.  **Content Generation**: Based on your research, write a well-structured and concise LinkedIn post that is tailored to the specified target audience. The content should be original, thought-provoking, and provide real value to the reader.\n3.  **Formatting**: The post must be impeccably formatted with a strong, attention-grabbing hook, a clear and concise body with short paragraphs and bullet points for readability, and a compelling call to action (e.g., asking a question, encouraging comments).\n4.  **Hashtags**: Include a mix of broad and niche hashtags to maximize the post's visibility and reach. Aim for 3-5 relevant hashtags.\n5.  **Tone and Style**: Maintain a professional, confident, and authentic tone. Use emojis sparingly and strategically to add personality and visual interest.\n\n## Output Instructions\n- Your ONLY output should be the final, complete LinkedIn post text.\n- Do not include any explanations, notes, or any other content beyond the post itself. The output should be ready to be copied and pasted directly into LinkedIn."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2600,
        -360
      ],
      "id": "d4d376c1-9636-4234-991f-d1261f51b169",
      "name": "Blog Post Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0",
          "mode": "list",
          "cachedResultName": "Marketing Team Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Request": "={{ $('When Executed by Another Workflow').item.json.postTopic }} for {{ $('When Executed by Another Workflow').item.json.targetAudience }}",
            "ID": "={{ $json.id }}",
            "Link": "={{ $json.webViewLink }}",
            "Post": "={{ $('Blog Post Agent').item.json.output }}",
            "Title": "={{ $('When Executed by Another Workflow').item.json.postTopic }}",
            "Type": "Post"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -960,
        -200
      ],
      "id": "9376e82d-a80f-4e5f-8501-787b62d5fda5",
      "name": "Image Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tYhgUcTfGHbchkrO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"<2-4 word creative title for the image>\",\n  \"prompt\": \"<full detailed image generation prompt>\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2060,
        -80
      ],
      "id": "2fefb5ae-8142-41d0-83cd-7344fcdd3e75",
      "name": "Image & Title"
    },
    {
      "parameters": {
        "content": "## Structured Output",
        "height": 240,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2180,
        -180
      ],
      "id": "eea5241f-b75a-43e6-9abd-02f241cdab2e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "text": "={{ $('Blog Post Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -960,
        -500
      ],
      "id": "11f1c734-bda3-4164-a5f4-c439217dd30e",
      "name": "Send Blog",
      "webhookId": "94fa70af-f2fc-4c05-8fa1-d9f55637485f",
      "credentials": {
        "telegramApi": {
          "id": "L0NFKsTt2AZ2mmEZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1180,
        -500
      ],
      "id": "baf9c287-a0d7-42e9-bfad-9e625920fcc0",
      "name": "Send Photo",
      "webhookId": "8fcbda9c-8396-41f7-8f2d-39e4ae4337c7",
      "credentials": {
        "telegramApi": {
          "id": "L0NFKsTt2AZ2mmEZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 260,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2940,
        -460
      ],
      "id": "82bc336f-c96f-4397-af85-9eaa8be0d8e0",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Write to Drive & Sheets",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1300,
        -280
      ],
      "id": "bc84c266-2383-4a5c-923d-3c7178f6a00f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1300,
        -580
      ],
      "id": "cd4dccb8-0c58-486b-8b01-4c211ed27a43",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "name": "={{ $('Image Prompt Agent').item.json.output.title }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy",
          "mode": "list",
          "cachedResultName": "AI Image Generation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1180,
        -200
      ],
      "id": "30bca457-e432-46a3-a2a5-4c13fb782e7d",
      "name": "Upload",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zopFZ1rguU2iVBqF",
          "name": "EditImage"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Blog Post Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT_4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Post Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Agent": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Send Photo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Blog Post Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Post Agent": {
      "main": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image & Title": {
      "ai_outputParser": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send Photo": {
      "main": [
        [
          {
            "node": "Send Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Image Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02bd0ae1-7361-4579-91ce-8e2577e29670",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "087ba087470ae4b97567263c5dadc2f24d1f6a27717504fc17a09d11869434c6"
  },
  "id": "VPXI4i5CmxygvLXS",
  "tags": []
}